/* src/App.css */
.app {
  display: flex;
}

.column {
  padding: 20px;
}

.column-3-4 {
  flex-grow: 1;
  flex-shrink: 1;
  margin-right: 20px;
}

.column-1-4 {
  width: 25%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row {
  flex: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.row-1-2 {
  height: 50%;
  margin-bottom: 20px;
}

.row-1-2:last-child {
  margin-bottom: 0;
}

.error {
  color: red;
}
